@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "DM Sans", sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-width: 90vw;
	background-color: #1b2430;
	padding: 0 40px 30px;
	/* color: #d6d5a8; */
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formlink-container {
	align-self: flex-end;
}
h2 {
	font-weight: normal;
}
a {
	color: white;
	text-decoration: none;
}
/* h2,
a {
	font-family: "Anton", sans-serif;
	font-weight: normal;
} */

@media screen and (min-width: 768px) and (max-width: 1022px) {
	.wrapper {
		min-width: 760px;
	}
}

@media (min-width: 1023px) {
	.wrapper {
		min-width: 800px;
	}
}
