@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "DM Sans", sans-serif;
}

.wrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	min-width: 90vw;
	background-color: #1b2430;
	padding: 0 40px 30px;
	/* color: #d6d5a8; */
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.head-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.picture-container {
	margin-top: 20px;
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: relative;
	/* transform: rotate(45deg); */
}

.picture-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	/* transform: rotate(-45deg); */
}

.subtitle-container {
	margin-top: 40px;
	border: 1px solid white;
	padding: 0 20px;
	border-radius: 50px;
}

h2 {
	font-weight: normal;
	font-size: 1rem;
}
.formlink-container {
	margin-top: 20px;
	display: inline-block;
}
.formlink {
	display: inline-flex;
	align-items: center;
	margin-top: 10px;
}

.formlink-container {
	align-self: flex-end;
}
a {
	color: white;
	text-decoration: none;
}
svg.bi.bi-arrow-return-right {
	margin-right: 15px;
	margin-top: 7px;
}

/* h2,
a {
	font-family: "Anton", sans-serif;
	font-weight: normal;
} */

@media screen and (min-width: 768px) and (max-width: 1022px) {
	.wrapper {
		min-width: 760px;
	}
}

@media (min-width: 1023px) {
	.wrapper {
		min-width: 800px;
	}
	.head-container {
		margin-top: 30px;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		/* gap: 50px; */
	}
	.title-container {
		grid-column: 1;
		padding-left: 20px;
		margin-top: -50px;
	}
	.subtitle-container {
		grid-column: 1;
	}
	.head-pic-container {
		margin-left: 40px;
		grid-column: 2;
		grid-row: span 2;
	}
}
